@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  appearance: none;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed";
  list-style: none;
  // overflow-x: clip;
}

body {
  height: 100vh;
  user-select: none;
  .cointainer {
    .topnav {
      display: block;
      height: 46px;
      background: #235963;
    }
    .head {
      width: 100%;
      height: 154px;
      display: flex;
      background: #46a1a7;
      position: relative;
      img {
        margin-top: 46px;
        margin-left: 68px;
        height: 54px;
        width: 241px;
      }
      .bar {
        display: flex;
        flex: 1;
        margin-left: 59px;
        justify-content: center;
        align-items: center;
        margin-bottom: 26px;
        label {
          position: relative;
          display: flex;
          flex-shrink: 1;
          flex-grow: 1;
          input {
            height: 55px;
            width: 100%;
            border: none;
            border-radius: 10px;
          }
          input::placeholder {
            font-size: 18px;
            padding-left: 10px;
            color: #666d8180;
          }
          button {
            position: absolute;
            top: 10%;
            bottom: 10%;
            right: 1%;
            background: #ff9801;
            padding: 12px 27px;
            font-size: 18px;
            font-weight: 700;
            color: #ffffff;
            box-shadow: 0px 5px 10px 3px rgba(255, 152, 1, 0.3);
            border-radius: 5px;
          }
        }
      }
      .about {
        display: flex;
        margin-bottom: 34px;
        justify-content: center;
        align-items: center;
        .contect {
          display: flex;
          span {
            border: 3px solid white;
            color: white;
            border-radius: 50%;
            padding: 12px 10px;
            margin-left: 57px;
          }
          p {
            display: inline-block;
            font-size: 13px;
            color: white;
            display: flex;
            text-transform: uppercase;
            font-family: "Roboto Condensed";
            align-items: center;
            justify-content: center;
            text-align: left;
            margin-left: 10px;
          }
        }
      }
      .login {
        width: auto;
        margin: 39px 76px 60px;
        button {
          height: 55px;
          width: 184px;
          background: #ff9801;
          color: #ffffff;
          font-size: 18px;
          font-weight: 700;
          gap: 6px;
          border-radius: 5px;
          box-shadow: 0px 5px 10px 3px rgba(255, 152, 1, 0.3);
        }
      }
      .menu {
        position: absolute;
        overflow: hidden;
        z-index: 1;
        top: 100%;
        left: 50%;
        width: 80%;
        height: 80px;
        background-color: #48acb2;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        box-shadow: 0px 4px 10px rgba(55, 88, 186, 0.2);
        border-radius: 5px;
        p {
          display: flex;
          align-items: center;
          font-size: 18px;
          line-height: 21px;
          font-weight: 700;
          color: white;
        }
        p:last-child {
          background: white;
          padding-left: 41px;
          padding-right: 38px;
          color: black;
        }
        p:nth-child(1) {
          margin-left: 49px;
        }
      }
    }
    .menuItem {
      border: 2px solid;
      position: absolute;
      height: 79px;
      width: 1186px;
      left: 366px;
      top: 160px;
      background: #48acb2;
      border-radius: 8px;
    }
    & > .info {
      position: relative;
      border: 1px solid;
      height: 705px;
      .imgdata {
        position: absolute;
        height: 705px;
        padding-left: 135px;
        width: 100%;
        background-image: url("/img/Base.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        p:nth-child(1) {
          font-size: 50px;
          font-weight: 700;
          line-height: 58px;
          margin-top: 210px;
          color: #ffffff;
        }
        p:nth-child(2) {
          font-size: 18px;
          opacity: 0.8;
          color: white;
        }
        p:nth-child(3) {
          margin-top: 50px;
          color: white;
        }
        p:nth-child(4) {
          color: white;
        }
        table {
          margin-top: 11px;
          th {
            padding: 11.5px 15px;
          }
          th:nth-child(1) {
            background: rgba(255, 152, 1, 0.2);
            color: #ff9801;
          }
          th:nth-child(2) {
            color: #46a1a7;
            background: rgba(72, 172, 178, 0.2);
          }
          th:nth-child(3) {
            color: white;
          }
          th:nth-child(4) {
            color: white;
            background: #48acb2;
            box-shadow: 0px 2px 10px 3px rgba(255, 152, 1, 0.3);
            border-radius: 5px;
          }
        }
        .share {
          margin-top: 17px;
          gap: 5px;
          a {
            color: #ffffff;
          }
          .item1 {
            border: 2px solid white;
            padding: 12px 14px;
            border-radius: 100%;
          }
          .item2 {
            padding: 12px 14px;
            border-radius: 100%;
            border: 2px solid white;
            background: #ff9801;
          }
          .item3 {
            padding: 12px 14px;
            border-radius: 100%;
            border: 2px solid white;
          }
          .item4 {
            padding: 12px 14px;
            border-radius: 100%;
            border: 2px solid white;
          }
        }
      }
      .healthyBuddha {
        position: relative;
        display: inline;
        flex-direction: column;
        display: flex;
        z-index: 2;
        gap: 24px;
        top: 100%;
        padding: 20px 64px;
        left: 50%;
        width: 1200px;
        background: white;
        transform: translate(-50%, -50%);
        border-radius: 25px;
        box-shadow: 0px 4px 8.944px rgba(0, 57, 106, 0.1);
        .top {
          display: flex;
          gap: 110px;

          .title {
            display: flex;
            flex-direction: column;
            .top {
              position: relative;
              p:nth-child(1) {
                font-size: 50px;
                font-weight: 700;
              }
              span {
                position: absolute;
                top: 0;
                right: 0;
              }
            }
            p {
              font-size: 50px;
              font-weight: 700;
            }
            .rating {
              display: flex;
              align-items: center;
              p {
                font-size: 30px;
              }
              .star {
                padding-left: 15px;
                color: #ff9801;
                i {
                  font-size: 25px;
                }
              }
            }
            .reviews {
              font-size: 18px;
              padding-top: 10px;
              line-height: 21px;
              color: #666d81;
            }
          }
          .calender {
            display: flex;
            flex-grow: 1;
            .location {
              display: flex;
              flex-grow: 1;
              span {
                font-size: 50px;
                color: #ff9801;
              }
              p:nth-child(1) {
                margin-top: 8px;
                justify-items: center;
                align-items: center;
                font-size: 12px;
              }
              p:nth-child(2) {
                font-weight: 700;
                font-size: 18px;
              }
            }
          }
        }
        .bottom {
          display: flex;
          gap: 10px;
          .ation {
            border-radius: 5px;
            display: flex;
            gap: 8px;
            background: #f0f0f2;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            height: 80px;
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            color: #666d81;
          }
          .ation:last-child {
            span {
              color: #ff9801;
            }
          }
          .ation:first-child {
            background-color: #ff9801;
            color: #ffffff;
            span {
              color: white;
            }
          }
        }
      }
    }
    .announcements {
      height: 196px;
      width: 100%;
      background: #46a1a7;
      margin-top: 184px;
      .text {
        padding: 35px 78px 0 243px;
        height: 79px;
        width: auto;
        p:first-child {
          font-style: normal;
          font-weight: 700;
          font-size: 50px;
          line-height: 59px;
          color: #ffffff;
        }
        p:last-child {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: #ffffff;
          opacity: 0.8;
        }
      }
    }
    .aboutTheNgo {
      .topList {
        margin-top: 62px;
        justify-content: space-evenly;
        display: flex;
        margin-left: 11px;
        border-radius: 100px;
        margin-right: 11px;
        box-shadow: 0px 4px 8.944px rgba(0, 57, 106, 0.1);
      }
      .aboutNGO {
        margin: 83px auto auto 154px;
        .titleImage {
          display: flex;
          .about {
            margin-left: 53px;
            p:nth-child(1) {
              font-size: 16px;
              font-weight: 400;
              color: #666d81;
            }
            p:nth-child(2) {
              font-size: 50px;
              font-weight: 700;
              color: #131d3b;
            }
            p:nth-child(3) {
              color: #46a1a7;
              font-size: 18px;
              font-weight: 700;
              background: rgba(132, 204, 192, 0.2);
              padding: 15px 48px;
              display: inline-block;
              margin-top: 27px;
            }
          }
        }
        .description {
          margin-top: 31px;
          width: auto;
          flex-direction: column;
          margin-right: 66px;
          p {
            display: flex;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            color: #666d81;
            max-height: 772px;
          }
          p:nth-child(2) {
            padding-top: 44px;
            padding-bottom: 74px;
          }
        }
      }
      .option {
        margin: 35px 0;
        padding: 33px 60px;
        border-radius: 50px;
        background: #e9e9e9;
        p {
          font-size: 18px;
          font-weight: 700;
        }
      }
      .option:first-child {
        margin-left: 55px;
        background: #ff9801;
        color: #ffffff;
        box-shadow: 0px 12px 9.798px rgba(255, 152, 1, 0.35);
      }
      .option:last-child {
        margin-right: 55px;
      }
    }
    .flex_container {
      background: #f2f3f5;
      z-index: 1;
      .productsTitle {
        padding-left: 157px;
        padding-top: 39px;
        p:nth-child(1) {
          text-transform: uppercase;
          font-size: 16px;
          line-height: 51px;
          font-weight: 400;
          color: #666d81;
        }
        p:nth-child(2) {
          font-size: 50px;
          line-height: 51px;
          font-weight: 700;
          span {
            color: #ff9801;
          }
        }
      }
      .flxItem {
        display: flex;
        width: 90%;
        height: auto;
        flex-wrap: wrap;
        gap: 32px;
        margin-left: 157px;
        margin-right: 155px;
        padding-bottom: 66px;
      }
      .flex_box {
        height: 315px;
        width: 378px;
        background-image: url("/img/Base.jpg");
        color: white;
        font-size: 25px;
        text-align: center;
        border-radius: 25px;
        margin-top: 35px;
        background-size: cover;
        padding-top: 184px;
        background-repeat: no-repeat;
      }
    }
    .services {
      padding: 130px 157px;
      .servicesTitle {
        p:nth-child(1) {
          font-size: 16px;
          color: #666d81;
        }
        p:nth-child(2) {
          font-size: 50px;
          font-weight: 700;
          line-height: 58px;
          span {
            color: #ff9801;
          }
        }
      }
      .serviceList {
        margin-top: 60px;
        display: flex;
        gap: 26px;
        flex-direction: column;
        justify-items: stretch;
        .service {
          display: flex;
          border: 1px dashed #c8c8c8;
          border-radius: 25px;
          padding: 36px;
          gap: 16px;
          .gallery {
            display: flex;
            border-radius: 10px;
            min-width: 407px;
            width: 407px;
            overflow: hidden;
            flex-direction: column;
            .hero {
              img {
                height: 255px;
                width: 100%;
              }
            }
            .list {
              display: flex;
              img {
                height: 85px;
              }
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            .serviceTitle {
              font-style: normal;
              font-weight: 700;
              font-size: 25px;
              line-height: 30px;
              color: #131d3b;
            }
            ul {
              align-self: flex-start;
              li {
                display: flex;
                gap: 10px;
                .leadingIcon {
                  margin-top: 14px;
                }
                p {
                  margin-top: 10px;
                }
                .point {
                  font-family: "Roboto";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 30px;
                  color: #666d81;
                }
              }
            }
            button {
              width: 199px;
              height: 55px;
              margin-top: auto;
              background: #ff9801;
              box-shadow: 0px 5px 10px 3px rgba(255, 152, 1, 0.35);
              border-radius: 10px;
              font-weight: 700;
              font-size: 18px;
              line-height: 21px;
              justify-items: flex-end;
              color: #ffffff;
            }
          }
        }
      }
    }
    .ourBestCourses {
      padding: 157px;
      background: #f2f3f5;
      padding-top: 97px;
      padding-bottom: 97px;
      display: flex;
      flex-direction: column;
      .coursesTitle {
        p:nth-child(1) {
          font-size: 16px;
          color: #666d81;
          line-height: 19px;
          font-weight: 400;
        }
        p:nth-child(2) {
          font-size: 50px;
          font-weight: 700;
          line-height: 58px;
          span {
            color: #ff9801;
          }
        }
      }
      .coursesList {
        display: flex;
        gap: 30px;
        margin-top: 67px;
        .courses {
          flex-grow: 1;
          overflow: hidden;
          background: white;
          flex-grow: 3;
          flex-direction: column;
          display: flex;
          border-radius: 10px;
          & > * {
            padding: 16px;
          }
          & > img {
            padding: 0;
          }
          & > .Title1 {
            padding: 16px 16px 0 16px;
          }
          & > .Title2 {
            padding: 0 16px;
          }
          & > .Title3 {
            padding: 0 16px;
          }
          img {
            width: 100%;
            height: 300px;
            object-fit: cover;
          }
          p {
            color: #666d81;
            span {
              color: #ff9801;
              font-size: 16px;
              font-weight: 700;
            }
          }
          .Title1 {
            line-height: 30px;
          }
          .Title2 {
            font-size: 24px;
            color: black;
            font-weight: 700;
          }
          .Title3 {
            line-height: 30px;
          }
          .appoinmentBtn {
            flex-grow: 2;
            button {
              width: 100%;
              height: 55px;
              margin-top: auto;
              background: #ff9801;
              border-radius: 7px;
              font-weight: 700;
              font-size: 18px;
              line-height: 21px;
              justify-items: flex-end;
              color: #ffffff;
            }
            .unselectBtn {
              background: white;
              color: #ff9801;
              border: 2px solid #ff9801;
            }
          }
        }
      }
    }
    //--------------------------------------------------------------------------
    .latestBlogs {
      padding: 157px;
      padding-top: 97px;
      padding-bottom: 97px;
      display: flex;
      flex-direction: column;
      .blogsTitle {
        p:nth-child(1) {
          font-size: 16px;
          color: #666d81;
          line-height: 19px;
          font-weight: 400;
        }
        p:nth-child(2) {
          font-size: 50px;
          font-weight: 700;
          line-height: 58px;
          span {
            color: #ff9801;
          }
        }
      }
      .blogLIst {
        display: flex;
        gap: 30px;
        margin-top: 67px;
        .blogs {
          flex-grow: 1;
          overflow: hidden;
          background: white;
          flex-grow: 3;
          flex-direction: column;
          display: flex;
          border-radius: 10px;
          & > * {
            padding: 16px;
          }
          & > img {
            padding: 0;
          }
          & > .Title1 {
            padding: 16px 16px 0 16px;
          }
          & > .Title2 {
            padding: 0 16px;
          }
          & > .Title3 {
            padding: 0 16px;
          }
          img {
            width: 100%;
            height: 300px;
            object-fit: cover;
          }
          p {
            color: #666d81;
            span {
              color: #ff9801;
              font-size: 16px;
              font-weight: 700;
            }
          }
          .Title1 {
            line-height: 30px;
          }
          .Title2 {
            font-size: 25px;
            color: #131d3b;
            font-weight: 400;
            padding-bottom: 30px;
          }
          .Title3 {
            line-height: 30px;
            padding-bottom: 20px;
          }
          .readMore {
            flex-grow: 2;
            padding-top: 20px;
            p {
              color: #ff9801;
              text-decoration: underline;
            }
          }
        }
      }
    }
    footer {
      background: #235963;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 97px 157px;
      gap: 80px;
      .bottomAbout {
        width: 100%;
        display: flex;
        flex-direction: row;
        .about {
          width: 597px;
          .title {
            font-size: 24px;
            line-height: 28px;
            font-weight: 700;
            color: white;
            padding-bottom: 51px;
          }
          .aboutData {
            font-size: 16px;
            line-height: 35px;
            font-weight: 400;
            color: #b6bbcc;
            padding-bottom: 65px;
          }
          input {
            height: 55px;
            width: 420px;
          }
          button {
            width: 168px;
            height: 55px;
            font-weight: 700;
            font-size: 18.252px;
            line-height: 21px;
            background: #ff9801;
            color: #ffffff;
          }
        }
        .socialMedia {
          margin-left: auto;
          .title {
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            color: white;
            padding-bottom: 48px;
          }
          a {
            padding: 15px;
            border-radius: 50%;
            font-size: 25px;
            color: white;
            background: rgba(19, 29, 59, 0.2);
          }
        }
        .conteact {
          margin-left: auto;
          .title {
            font-size: 24px;
            line-height: 28px;
            font-weight: 700;
            color: white;
            padding-bottom: 51px;
          }
          p {
            font-size: 16px;
            line-height: 35px;
            font-weight: 400;
            color: #b6bbcc;
          }
        }
        .quickLinks {
          margin-left: auto;
          .title {
            font-size: 24px;
            line-height: 28px;
            font-weight: 700;
            color: white;
            padding-bottom: 51px;
          }
          p {
            font-size: 16px;
            line-height: 35px;
            font-weight: 400;
            color: #b6bbcc;
          }
        }
      }
    }
  }
}


