@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  appearance: none;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed";
  list-style: none;
  // overflow-x: clip;
}

body {
  height: 100vh;
  user-select: none;
  .cointainer {
    .topnav {
      display: block;
      height: 46px;
      background: #235963;
    }
    .head {
      width: 100%;
      height: 154px;
      display: flex;
      background: #46a1a7;
      position: relative;
      img {
        margin-top: 46px;
        margin-left: 68px;
        height: 54px;
        width: 241px;
      }
      .bar {
        display: flex;
        flex: 1;
        margin-left: 59px;
        justify-content: center;
        align-items: center;
        margin-bottom: 26px;
        label {
          position: relative;
          display: flex;
          flex-shrink: 1;
          flex-grow: 1;
          input {
            height: 55px;
            width: 100%;
            border: none;
            border-radius: 10px;
          }
          input::placeholder {
            font-size: 18px;
            padding-left: 10px;
            color: #666d8180;
          }
          button {
            position: absolute;
            top: 10%;
            bottom: 10%;
            right: 1%;
            background: #ff9801;
            padding: 12px 27px;
            font-size: 18px;
            font-weight: 700;
            color: #ffffff;
            box-shadow: 0px 5px 10px 3px rgba(255, 152, 1, 0.3);
            border-radius: 5px;
          }
        }
      }
      .about {
        display: flex;
        margin-bottom: 34px;
        justify-content: center;
        align-items: center;
        .contect {
          display: flex;
          span {
            border: 3px solid white;
            color: white;
            border-radius: 50%;
            padding: 12px 10px;
            margin-left: 57px;
          }
          p {
            display: inline-block;
            font-size: 13px;
            color: white;
            display: flex;
            text-transform: uppercase;
            font-family: "Roboto Condensed";
            align-items: center;
            justify-content: center;
            text-align: left;
            margin-left: 10px;
          }
        }
      }
      .login {
        width: auto;
        margin: 39px 76px 60px;
        button {
          height: 55px;
          width: 184px;
          background: #ff9801;
          color: #ffffff;
          font-size: 18px;
          font-weight: 700;
          gap: 6px;
          border-radius: 5px;
          box-shadow: 0px 5px 10px 3px rgba(255, 152, 1, 0.3);
        }
      }
      .menu {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 80%;
        height: 80px;
        background-color: #46a1a7;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        box-shadow: 0px 4px 10px rgba(55, 88, 186, 0.2);
        border-radius: 5px;
        p {
          display: flex;
          align-items: center;
          font-size: 18px;
          line-height: 21px;
          font-weight: 700;
          color: white;
        }
        p:last-child {
          background: white;
          padding-left: 41px;
          padding-right: 38px;
          color: black;
        }
        p:nth-child(1) {
          margin-left: 49px;
        }
      }
    }
    .menuItem {
      border: 2px solid;
      position: absolute;
      height: 79px;
      width: 1186px;
      left: 366px;
      top: 160px;
      background: #48acb2;
      border-radius: 8px;
    }
    .image {
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
      .healthyBuddha {
        position: absolute;
        display: block;
        top: 100%;
        left: 50%;
        border: 2px solid;
        height: 281px;
        width: 80%;
        background: white;
        transform: translate(-50%, -50%);
      }
    }
    .announcements {
      height: 196px;
      background: #46a1a7;
      margin-top: 184px;
    }
  }
}
